
.body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.bi{
    color: #FF150E;
}

.text1{
    text-decoration: underline;
}

.text2{
    font-size: 50px;
    line-height: 60px;
}

.text3{
    font-weight: 500;
    color: #6D6D6D;
    font-size: 20px;
    font-style: normal;
}



.btn{
    background-color: black;
    color: white;
    border: 3px solid black;
    padding: 15px;
    border-radius: 30px;
    
}

.banner{
    background-color: #F2F7FD;
    color: black;
}
    
.card{
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    height: 305px;
    width: 317px;
}

.arrow{
    color: #525252;

}
